#****************************************
#THIS SCRIPT IS NOW OBSOLETE
#
#REPLACED BY DB2OBO METHOD OF DATA ENTRY
#
#MNW, JULY 2009
#
#****************************************

# Configuration file for the Update Sibling Order program.
#
# File format rules
# 1. Blank lines and lines that start with "#" or " " are ignored.
# 2. Lines that set parameters have
#    o Parameter name, starting in first column
#    o Followed by a space, an equals sign, and another space,
#    o followed by the value to assign to that space.
#

# Database connection parameters for existing anatomy database.
DB_HOST = localhost
DB_DATABASE = anatomy4
DB_USER = davidc
DB_PASSWORD = aGoodUn

# Where do you want the output script to go?
# Directory must already exist.
OUTPUT_FILE = ../../../Versions/Version004/ConvertFromVersion003/updateSiblingOrder.sql

# Specify file contiaining the new ordering.  This file is created
# by the TreeFormats generator, based on the ordering in the
# database, after applying the CiofToRelationalTranslator.
#
# The file is then passed to an editor for manual re-oredering.
# Once that is done the file is parsed by this program.
SIBLING_ORDER_SPEC = ../../../Versions/Version004/ConvertFromVersion003/siblingOrderSpecification.txt

# Define, which if any terms are to be excluded from reordering.  This is a
# space separated list of EMAPA IDs.  Why do this?  Because, to begin with,
# we are only setting the ordering of the urogenital systems.  However, to
# get to them, we have to display the path to them.  We don't yet want
# organ system or visceral organ to be listed first among their siblings
# simply because they have kids that have been re-ordered.
#  EMAPA:16103 organ system
#  EMAPA:16245 visceral organ
#  EMAPA:16367 genitourinary system
#  EMAPA:17366 urinary system
#  EMAPA:17381 reproductive system
#
EXCLUDES = EMAPA:16103 EMAPA:16245 EMAPA:16367 EMAPA:17366 EMAPA:17381

# Enable/disable debugging. Acceptable values are ON/OFF
DEBUGGING = OFF
