#****************************************
#THIS SCRIPT IS NOW OBSOLETE
#
#REPLACED BY DB2OBO METHOD OF DATA ENTRY
#
#MNW, JULY 2009
#
#****************************************

# Configuration file fo the OBO file parser program
#
# File format rules
# 1. Blank lines and lines that start with "#" or " " are ignored.
# 2. Lines that set parameters have
#    o Parameter name, starting in first column
#    o Followed by a space, an equals sign, and another space,
#    o followed by the value to assign to that space.
#

# Database connection paramaters for existing anatomy database.
DB_HOST = localhost
DB_DATABASE = xenopus
DB_USER = davidc
DB_PASSWORD = You are never alone with a schizophrenic.

# Where are the OBO file to parse?
OBO_FILE = ../Data/Xenopus_anatomy_development.obo

# How are stages identified in the OBO file?
STAGE_NAMESPACE = xenopus_developmental_stage

# There are over 200 terms in Xenopus OBO file without a part of parent.
# Hard code the root node here.
ROOT_ID = XAO:0000000

# DATABASE INFO NOT IN OBO FILE

# Version information.  Date is in file, nothing else is.
VERSION_COMMENTS = First full version of Xenopus anatomy ontology loaded into EuReGene.  Previously we only defined a small subset of the ontology.

# Species information.  Assume their is already an entry for this species.
SPECIES_NAME = Xenopus laevis


# Where do you want the output files to go?
# Directory must already exist.
OUTPUT_FILEPATH = ../Data/db.sql


# Enable/disable debugging. Acceptable values are ON/OFF
DEBUGGING = OFF
