# Configuration file for the CIOF to relational translator
#
# File format rules
# 1. Blank lines and lines that start with "#" or " " are ignored.
# 2. Lines that set parameters have
#    o Parameter name, starting in first column
#    o Followed by a space, an equals sign, and another space,
#    o followed by the value to assign to that space.
#

# Database connection parameters for existing anatomy database.
HOST = localhost
DBNAME = anatomy4
USER = davidc
PASSWORD = aCoolPassword

# Describe Version that this update will create
VERSION = Version 4 of GUDMAP/EuReGene anatomy database.  Includes a great deal of changes in the urogenital parts of the anatomy.  It also includes minor changes to the schema to accommodate Xenopus anatomy.


# Where is the input CIOF file?
CIOFFILE = ../Data/CIOFs/Version004.ciof

# Where do you want the output scripts and load files to go?
# Directory must already exist.
OUTPUTDIR = ../Data/Updates/Version004

# If there is a a relationship ordering file, then provide the name of
# it here.  See AnatomyBase.readRelationshipOrdering() for an
# explanation of this file.
# Valid values: a path name, or NONE

#SEQUENCEFILE = /tmp/urogenitalTreeReportReorderedGroups/abstract.txt
#SEQUENCEFILE = /tmp/urogenitalTreeReport/abstract.txt
#SEQUENCEFILE = NONE
SEQUENCEFILE = ../Data/Updates/Version004/orderingIter2.txt


# Sort order for abstract mouse tree.  There are two options:
#   chronological - Sort by (start stage, end stage, component name)
#   alphabetical  - Sort by (component name, start stage, end stage)
#
# We started with chronological as the default and then switched to 
# alphabetical.  Chronological works better for showing a large range
# of stages.  Alphabetical works better for showing a narrow range of
# stages.
# 
# Note that this only applies to items that do not have an explicit
# sort order set for them in ANA_RELATIONSHIP.
ABSTRACTSORTORDER = alphabetical

# Display or suppress warnings about overlaps between node names and 
# synonyms.
NAME_SYNONYM_OVERLAP_WARNINGS = OFF

# Enable/disable debugging. Acceptable value are ON/OFF
DEBUG = OFF
