/*
 * Global CSS styles.
 */

/* General ------------------------------------------------------------------------------------- */

/*
body, p, legend, label, input {
    font: normal 8pt verdana, helvetica, sans-serif;
}
	*/

#tree_title {
   font-size: 16pt;
}
#stage_selector,#version,#stage_index,#stage_definition,#download {
   font-size: 10pt;
}
#stage_selector,#download a {
   padding-right: 3pt;
}

.small_legend {
   font-size: 8pt;
}

.small_toggle {
   font-size: 8pt;
}

.fieldset {
   border-width: 2pt;
}

