# Configuration file fo the Anatomy Tree report generator
#
# File format rules
# 1. Blank lines and lines that start with "#" or " " are ignored.
# 2. Lines that set parameters have
#    o Parameter name, starting in first column
#    o Followed by a space, an equals sign, and another space,
#    o followed by the value to assign to that space.
#

# Database connection paramaters for existing anatomy database.
DB_HOST = localhost
DB_DATABASE = anatomy4
DB_USER = davidc
DB_PASSWORD =

# Some choices here are Renal, Urogenetial, and Whole mouse
PERSPECTIVE = Urogenital

# Where do you want the output files to go?
# Directory must already exist.
OUTPUT_DIRECTORY = /tmp/TreeReports2

# What format are we generating?  Options are txt, rtf, and xml
OUTPUT_FORMAT = xml

# For runs that generate stage specific reports, should the reports
# be in one file, or in mamy
STAGE_REPORT_FILES = MANY

# Limit depth of trees in report to this depth.  A depth of 0 says
# show only the root.  Anything over 20 effectively says show
# everything.
DEPTH_LIMIT = 1000

# Is debugging on or off?  Valid values are ON or OFF
DEBUGGING = OFF
